header {
    height: 100vh;
    color: $color_black;
    background: lightblue;
    button {
        background: $btn_primary;
        // &::after {
        //     content: "Hello";
        // }
        &:hover {
            background: red;
        }
    }
}

// @mixin flex_center($direction, $color_background) {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: $direction;
//     background: $color_background;
// }

// header {
//     @include flex_center(column, orange);
//     color: $color_black;
//     button {
//         background: $btn_primary;
//         // &::after {
//         //     content: "Hello";
//         // }
//         &:hover {
//             background: red;
//         }
//     }
// }